-# SPDX-FileCopyrightText: 2020 Felix Wolfsteller
-#
-# SPDX-License-Identifier: AGPL-3.0-or-later

%h1.title.has-text-centered
  %i.fa.fa-hdd
  Editing Device (#{@device.human_identifier})

= render 'form', device: @device

