- if @location
  %h1.title
    %span.icon
      %i.fa.fa-hdd
    New Device at #{@location.name}
- else
  %h1.title
    %span.icon
      %i.fa.fa-hdd
    New Device

= render 'form', device: @device

