@import ./_variables

.notification-wrapper
  position: relative

  input
    position: absolute
    z-index: 2000
    top: 10px
    right: 10px

  input:checked
    animation: hide-notification $transitionTime
    animation-fill-mode: forwards

  input:checked + .notification
    animation: hide-notification $transitionTime
    animation-fill-mode: forwards

@keyframes hide-notification
  0%
    opacity: 1
    transform: scale(1)
  99%
    opacity: 0
    transform: scale(0)
  100%
    transform: scale(0)
    visibility: hidden
    position: absolute
