.tag.is-light
  %span.icon
    %i.fa.fa-arrow-right
  %span.icon
    %i.fa.fa-ethernet
  = connection.source_port
  = connection.target&.human_identifier
  - if connection.target.instance_of? Device
    %span.icon.is-link
      %i.fa.fa-hdd
  - if connection.target.instance_of? Location
    %span.icon.is-light
      %i.fa.fa-globe
  [
  = connection.target_port
  ]
