.footer-container
  .footer.has-background-dark.has-text-white

    = link_to "https://github.com/ecovillage/cabler", target: "_blank", rel: "nofollow", class: 'link' do
      %span.icon
        %i.fab.fa-github
      %span Github