.footer-container
  .footer.has-background-dark.has-text-white
    .level
      .level-item
        = link_to "https://github.com/ecovillage/cabler", target: "_blank", rel: "nofollow", class: 'link is-light' do
          %span.icon
            %i.fab.fa-github
          %span Code on Github
