.level
  .level-left
    %h1.title
      %i.fa.fa-globe
      Locations
  .level-right
    = link_to new_location_path, class: 'button level-item has-text-link' do
      %span.icon
        %i.fa.fa-plus
      =t('new location')

#locations.columns.is-multiline
  - @locations.each do |location|
    = render 'location_card', location: location

= link_to new_location_path, class: 'button has-text-link' do
  %span.icon
    %i.fa.fa-plus
  =t('new location')
